
  body {
    background-color: #ecf8f8;
  }

  #h101{color: #d62828}

  hr {
    border: none;
    border-top: 20px dotted #ffcdb2;
    width: 10%;}

H1{COLOR:#1d3557}
H3{COLOR:#1d3557}
